/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.city-button {
  background: #000;
  color: #e5e5e5;
  border: #727272;
  border-style: solid;
  border-radius: 45px;
  padding: 10px ;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.fiveday {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fivedaydisplay {
    background-color: #727272;
    font-size: 20pt;
    border-radius: 5px;
    width: fit-content;
    height:fit-content;
    padding:20px;
    border-style: dashed;
    border-width: 5px;
    min-height: 250px;
    min-width:  250px;

}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

#uv-index{
  color:#000
}